@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
}

a{
    font-weight: 300;
    text-decoration: none;
    color:#F2F2F2;
}


a:hover{
    color:#F2490C;
}

strong{
    font-weight: 500;
}

li{
    list-style: none;
}

/* Codigo das cores */
/* #BF0F1E */
/* #F2A950 */
/* #F2490C */
/* #591708 */
/* #F2F2F2 */
/* #6f6f6f */

/* Layout */
#layout{
    position: relative;
    height: 100vh;
}

main > div{
    padding-top: 4rem;
}

header,main{
    width: 100%;
    transition: all .2s;
}

header{
    position: fixed;
    z-index: 9999;
    background-color: #BF0F1E;
    color: #FFFFFF;
    padding: 0 5rem;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo{
    font-size: 3rem;
}

.brand-logo:hover,.nav-wrapper > ul > li > a:hover{
    color: #FFFFFF;
}

.nav-wrapper > ul{
    display: block;
}

.nav-wrapper > ul > li{
    float: left;
    padding: 2rem 0;
    border-bottom: 5px solid rgba(242, 169, 80,0);
}

.nav-wrapper > ul > li > a{
    width: 2rem;
    padding: 2rem 1rem;
    cursor: pointer;
    transition: all .2s;
}

.nav-wrapper > ul > li > a:hover{
    background-color: #e74004;
    border-bottom: 5px solid rgba(242, 169, 80,1);
}


/* Home */
.Home{
    width: 100%;
    height: 100vh;
    background:  #F2A950 ;
}

.Home > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 5rem;
}

.Home > div > img{
    width: 40%;
    height: auto;
}

.Home > div > div{
    width: 50%;
    height: 80%;
}

.Home > div > div > h1{
    font-size: 5rem;
    margin-top: -2.5rem;
    color: #591708;
}

.listHome > div{
    background-color: #F2F2F2;
    width: 70%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: all .2s;
}

.listHome > div > i{
    color: #e74004;
    font-size: 2rem;
    margin-right: 1rem;
    transition: all .2s;
}

.listHome > div:hover{
    background-color: #e74004;
    color: #F2F2F2;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.listHome > div:hover > i{
    color: #F2F2F2;
}

/* Serviuços */
.ListServiços{
    width: 100%;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 1rem 5rem;
}

.boxItemServiços{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxItemServiços > div > h2{
    font-size: 1.5rem;
}

.boxItemServiços > img{
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}

/* Galeria de Fotos */
.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* grid-template-rows: 10rem 8rem 10rem 8rem 10rem 9rem; */
    justify-content: center;
    width: 100%;
    padding: 1rem 5rem;
}

.item {
	margin: 5px;
    scale: 1;
}

.item:hover{
    scale: 1.03;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0 0 0 / 30%));
}

#itemMaxWindow{
    height: 100vh;
    width: 100vw;
    position: fixed;  
    z-index: 9999;
    background-color: rgba(0 0 0 / 30%);
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#itemMaxWindow > .buttonExit{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #F2F2F2;
    margin-bottom: 1rem;
    border-radius: 50%;
    font-size: 1rem;
}

#itemMaxWindow > .buttonExit:hover{
    scale: 1.05;
    filter: drop-shadow(0px 0px 5px rgba(0 0 0 / 30%));
}

#itemMaxWindow > img {
    width: 50%;
    height: auto;
    border: 2px solid #F2F2F2;
    padding: .5rem;
    border-radius: 1rem;
}

/* Lista de Preços */
.PriceList{
    width: 100%;
    background-color: #F2A950;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.listbox_price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box_price{
    width: 20%;
    margin: 0 1rem;
    background-color: #FFFFFF;
    color:white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s;
}

.box_price:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.box_price > div {
    position: relative;
    padding: 1rem 0.5rem;
}

.box_price > .title{
    text-align: center;
    color: #591708;
    padding-bottom: 0 !important;
}

.box_price > .title > h1{
    font-size: 2rem;
}

.box_price > .title > p{
    font-weight: 400;
}

.box_price > .price{
    width: 100%;
    background-color: #FFFFFF;
    color:#e74004;
    text-align: center;
}
.box_price > .price > p{
    font-size: 1rem;
    font-weight: 500;
    color: #591708;
}

.box_price > .price > strong{
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: -1rem;
}

.box_price > .price > strong > p{
    font-weight: 800;
    font-size: 1.5rem;
}

.box_price > .price > strong > .rs{
    padding-top: .6rem;
}

.box_price > .price > strong > .cent{
    padding-top: 1.6rem;
}

.descript{
    width: 100%;
    background-color: #591708;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    text-align: justify;
    direction:ltl;
}

.descript > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descript > p > i{
    margin-right: .5rem;
    padding-top: .2rem;
}

.box_price > .button{
    width: 100%;
    border-radius: 0 0 .5rem .5rem;
    padding: 2.5rem 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_price > .button > div{
    width: 80% ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #F2490C;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.box_price > .button > div > p {
    position: relative;
    transition: all .2s;
}

.box_price > .button > div::before{
    content: "";
    text-align: center;
    display: flex;
    width: 10%;
    height: 100%;
    background-color: #F2490C;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 0;
    top:0;
    left: 0;
    transition: all .2s;
}

.box_price > .button > div:hover > p{
    letter-spacing: 0.2rem;
}

.box_price > .button > div:hover::before{
    width: 100%;
    background-color: #e74004;
}

/* Lista de Informações */
.ListInformation{
    width: 100%;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    padding: 1rem 5rem;
}

.boxItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: .2rem;
    border-radius: 2rem;
}

.boxItems:hover{
    cursor: default;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.boxItems:hover > i{
    transform:rotateZ(45deg);
}

.boxItems > i {
    margin-right: 1rem;
    font-size: 3rem;
    padding-top: 1.2rem;
    color: #F2A950;
    transition: all .2s;
}

.boxItems > div > h2{
    font-size: 1.5rem;
    color: #F2A950;
}

.boxItems > div > p{
    text-align: justify;
    direction:ltl;
}

/* Outro Pet */
.otherpet{
    padding: 5rem;
    display: flex;
}

.otherpet_text{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.otherpet_text > h3{
    font-size: 1.6rem;
}

.otherpet_text > p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #F2490C;
}

.otherpet_bone {
    width: 30%;
    margin-right: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0%,100%{
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
  }


.otherpet_bone > i {
    position: absolute;
    color: #F2490C;
    font-size: 15rem;
    transform: rotate(45deg);
    filter: drop-shadow(0px 0px 5px rgba(0 0 0 / 30%));
}

.otherpet_bone > p {
    position: absolute;
    width: 60%;
    margin-top: 8.3rem;
    margin-left: 3rem;
    color:#F2F2F2;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
}

/* Footer */
footer{
    width: 100%;
    background-color: #F2A950;
}

footer > #dragElement{
    cursor: grab;
    position: absolute;
}

.f_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_2{
    background-color: #591708;
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 5rem;
}

.f_1SocialLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.f_1SocialLink > a {
    background-color: #F2F2F2;
    padding: 2rem;
    margin: .5rem;
    border-radius: 20%;
    position: relative;
    scale: .9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.f_1SocialLink > a:hover{
    scale: 1;
}

.f_1SocialLink > a:hover > i{
    color: #591708;
    scale: 1.1;
}

.f_1SocialLink > a > i{
    color: #F2A950;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -13px;
}

.f_1middleinfor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.f_1middleinfor > div{
    display: flex;
    flex-direction: column;
}

.f_1middleinfor > div > h2{
    color: #591708;
    font-size: 1.5rem;
}

.f_1middleinfor > div > a{
    display: flex;
    align-items: center;
}

.f_1middleinfor > div > a > i{
    margin-right: .5rem;
}

.f_2 > p > a {
    text-decoration: underline;
}

/*  custom-shape */
.custom-shape-divider-top-1701384094,
.custom-shape-divider-top-1701301856 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1701300258,
.custom-shape-divider-bottom-1701386449,
.custom-shape-divider-bottom-1701299214 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1701300258 {
    transform: rotate(180deg);
}

.custom-shape-divider-top-1701384094 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1701301856 svg,
.custom-shape-divider-bottom-1701300258 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
}

.custom-shape-divider-bottom-1701299214 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 96px;
}


.custom-shape-divider-top-1701384094 .shape-fill,
.custom-shape-divider-top-1701301856 .shape-fill,
.custom-shape-divider-bottom-1701300258 .shape-fill,
.custom-shape-divider-bottom-1701299214 .shape-fill {
    fill: #ffffff;
}

